/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* common style  */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

#top-bg {
    background: rgba(255, 144, 14, 0.1);
}

/* header section style  */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 20px;
}

.header-logo {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.nav-container ul {
    display: flex;
    gap: 50px;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* brand new group section style   */
.banner-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text-area {
    width: 70%;
}

.banner-title h1 {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-top: 50px;
}

.banner-text p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0px;

}

.banner-btn {
    font: 20px;
    font-weight: 600;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.banner-photo-area img {
    width: 90%;
    padding: 35px 0px;
}

/* quick list section style  */
.quick-list-container {
    margin-top: 85px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    padding: 0px 50px;
}

.quick-list-photo-area {
    width: 80%;
}

.quick-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-photos img {
    width: 100%;
}

.quick-list-text-area {
    width: 70%;
}

.quick-list-title h2 {
    font-size: 45px;
    color: #727272;
}

.quick-list-title h2 :first-child {
    color: #131313;
    font-weight: 700;
}

.quick-list-title h2 :last-child {
    color: #FF900E;
    font-weight: 700;
}

.quick-list-description p {
    font-size: 16px;
    color: #727272;
    font-weight: 400;
    padding: 20px 0px;
}

.quick-list-button button {
    font: 20px;
    font-weight: 600;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* features section style  */
.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px 20px;
}

.features-text-area {
    width: 100%;
}

.features-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    padding: 21px 0px;
}

.features-text {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px auto;
    padding: 30px;
}

.features-text h4 {
    font-size: 20px;
    font-weight: 600px;
    color: #131313;
}

.features-text p {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.features-photo-area {
    width: 100%;
}

.features-photo img {
    width: 100%;
}

.exp-position {
    position: relative;
}

.exp-box {
    background-color: #FF900E;
    padding: 42px;
    border-radius: 8px;
    width: 342px;
    position: absolute;
    bottom: 1%;
    left: 45%;
}

.exp-box h2 {
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF
}

.exp-box p {
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
}


/* responsive part  */
/* mobile responsive */
@media screen and (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }

    .header-logo {
        font-size: 35px;
    }

    .nav-container ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
    }

    .banner-title h1 {
        font-size: 44px;
        margin-top: 0px;
    }

    .quick-list-container {
        margin-top: 85px;
        flex-direction: column;
        gap: 33px;
        padding: 0;
    }

    .features-container {
        flex-direction: column;
        gap: 40px;
    }

    .features-title {
        font-size: 35px;
    }

    .exp-box {
        position: relative;
        bottom: 0%;
        left: 0%;
        margin: 0px auto;
    }
}